
<div class="container">
    
    <h1 style="color:whitesmoke; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif " >
    Kerala is blessed with a unique set of geographical features that have
    made it one of the most sought after tourist destinations in Asia. A
    long shoreline with serene beaches, tranquil stretches of emerald
    backwaters, lush hill stations and exotic wildlife, are just a few of
    the wonders. <br /><br />Most of the state is engulfed in rich
    greenery which ensures a very calming experience at all times.
    Bestowed with a pleasant and equable climate throughout the year,
    Kerala is a tropical land where one can relax and be at ease.</h1></div>